*.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env.local
.env.production
*.pem
node_modules/
dist/
.angular/
postgres_data/
*.log
environment.prod.ts
docker-compose.aws.yml
.dockerignore
nginx.aws.conf
deploy-ec2.sh
.env.aws
portfolio.tar.gz
docker-compose.prod.yml
docker-compose.ec2.yml
db.sqlite3
nginx/nginx.conf
LINKEDIN_POST.md